/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;



#gjs {
  border-bottom: 10px solid #a9a9a9;
}

/* Reset some default styling */
#gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

#gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

.gjs-one-bg {
  background-color: #28b807 !important
}

.gjs-one-color {
  color: #28b807 !important
}

.gjs-one-color-h:hover {
  color: #28b807 !important
}

.gjs-two-bg {
  background-color: #180de6 !important
}

.gjs-two-color {
  color: #180de6 !important
}

.gjs-two-color-h:hover {
  color: #180de6 !important
}

.gjs-three-bg {
  background-color: #02b5fb !important
}

.gjs-three-color {
  color: #02b5fb !important
}

.gjs-three-color-h:hover {
  color: #02b5fb !important
}

.gjs-four-bg {
  background-color: #f8ec05 !important
}

.gjs-four-color {
  color: #f8ec05 !important
}

.gjs-four-color-h:hover {
  color: #f8ec05 !important
}

.gjs-danger-bg {
  background-color: #dd3636
}

.gjs-danger-color {
  color: #dd3636
}

.gjs-danger-color-h:hover {
  color: #dd3636
}

.gjs-bg-main,
.gjs-sm-colorp-c,
.gjs-off-prv {
  background-color: #69f604 !important
}

.gjs-color-main,
.gjs-sm-stack #gjs-sm-add,
.gjs-off-prv {
  color: #ddd;
  fill: #ddd
}

.gjs-color-active {
  color: #f8f8f8;
  fill: #f8f8f8
}

.gjs-color-warn {
  color: #ffca6f;
  fill: #ffca6f
}

.gjs-color-hl {
  color: #0b1721;
  fill: #0b1721
}